* {
  margin: 0;
  padding: 0;
}
/* navbar styling */
nav {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.navbar .title {
  color: #fff;
}
/* input bar  */
.searchCity {
  width: 100%;
}

/* box for current weather */
.currentWeather {
  min-height: 350px;
  margin-top: 10px;
  padding: 10px;
}

.forecastHeading {
  margin-top: 10px;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  padding: 5px;
  color: light;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
